@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Lightpink: hsl(275, 100%, 97%);
  --Grayishpurple: hsl(292, 16%, 49%);
  --Darkpurple: hsl(292, 42%, 14%);
}

.faq-header{
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.faq-question{
  padding: 15px;
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  background-color: white;
  transition: background-color o.3s;
}

.faq-question:hover{
  background-color: blueviolet;
}

.faq-answer{
  display: none;
  padding: 15px;
  background-color: white;
  font-size: 16px;
}

.faq.open .faq-answer{
  display: block;
}

.faq-question::after{
  content: '+';
  float: right;
  font-size: 24px;
}

.faq.open .faq-question::after{
  content: '-';
}

html {
  min-width: 375px;
  max-width: 1440px;
  margin: auto;
}

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
